<div class="hamburger" id="hamburger" onclick="toggleSidenav();">
  <div></div>
  <div></div>
  <div></div>
</div>
<nav>
    <img src="https://scontent.fcph4-1.fna.fbcdn.net/v/t1.0-9/12294738_912910935467224_322615123211541870_n.jpg?_nc_cat=111&_nc_ht=scontent.fcph4-1.fna&oh=0d072bef701405c7e8bc6455cf409039&oe=5D58BD59" alt="">
  <div class="links">
      
    <a class="active" href="/home">Home</a>
    <a href="">Blog</a>
    <a href="/contact">Contact</a>
    <a href="product">product</a>
  </div>
</nav>
