<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about me</title>
   <%- include("partials/style")%>
</head>
<body>
    
    <%- include("partials/nav.ejs") %>
    <h1>contact page</h1>

    <script src="/public/script.js"></script>
    
</body>
</html>